
@{
    ViewData["Title"] = "Add Product";
}
@if (ViewData["Added"] == null)
{
    <h1>AddProduct</h1>
    <form method="post">
        <label>Product Name:</label>
        <input type="text" name="name" />
        <br />

        <label>Description</label>
        <input type="text" name="description" />
        <br />

        <input type="submit" name="Add Product" />
    </form>
}
else
{
    <div class="alert alert-success">@ViewData["Added"] was added.</div>
}
