@model Product
@{
    ViewData["Title"] = "AddProductWithBinding";
}

<h1>Add Product With Model Binding</h1>
@if (ViewData["Message"] == null)
{
    <form method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>

        <input type="submit" name="Add Product"/>
    </form>
}
else
{
    <div class="alert alert-success">@ViewData["Message"]</div>
}

@section Scripts
{ 
    <partial name="_ValidationScriptsPartial" />
}